# Entornos
.env*
!.env.example

# Dependencias
node_modules/
**/node_modules/

# Lockfiles de otros gestores de paquetes (NO pnpm)
package-lock.json
**/package-lock.json
yarn.lock
**/yarn.lock

# Otros
dist/
build/
todo.md

# Base de datos
data/*.db
*.db
*.db-shm
*.db-wal