services:
  kashflow:
    build:
      context: .
      dockerfile: Dockerfile
    image: kashflow:latest  # Guarda la imagen con este nombre
    container_name: kashflow
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - NODE_ENV=production # Sobrescribir variable de entorno si es necesario
    healthcheck:
      test: ["CMD", "node", "-e", "require('http').get('http://localhost:3000/api/health', (r) => {process.exit(r.statusCode === 200 ? 0 : 1)})"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s